body{
    background-color: #f8f9fa; 
}

.first-heading {
    background: white;
}
.services {
    background: white;
}
.navbar-expand-lg {
    background: linear-gradient(to bottom, #111111, #333333); 
    height: 60px; 
    place-items: center;
}
.navbar-expand-lg .nav-item{
    color:white;
    place-items: center;
}
.nav-item {
    place-items: center;
}
.btn btn-primary{
    place-items: right;
}