<div class="portafolio bg-white py-4">
    <div class="container">
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <div class="texto">
            <h2 class="text-start">Portafolio</h2>
            <p class="text-start">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam ut voluptate perspiciatis. Provident eaque dolorum facilis, nihil neque, pariatur dolore, impedit at enim porro veritatis cumque molestiae. Temporibus, at consequatur./p>
        </div>
        <div class="cuerpo row">
            <div class="col-md-4 mb-4">
                <div class="card card border-0" style="width: 24rem;">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Project Name</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card border-0" style="width: 24rem;">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Project Name</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card border-0" style="width: 24rem;">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Project Name</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
